* {
    background-color: hsl(212, 45%, 89%);
}

main {
    border-radius: 25px;
    display: block;
    width: 350px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
#container__principal {
    background-color: #FFFFFF;
}
.container__imagem {
    align-items: center;
    background-color: #FFFFFF;
    width: 300px;
    margin: 25px;
    
}
img {
    border-radius: 25px;
}

.container__geral {
    margin: 10px;
    text-align: center;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}
.container__titulo {
    background-color: #FFFFFF;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;

}
.container__texto {
    background-color: #FFFFFF;
    font-weight: 400;
}